dist: trusty

language: php

branches:
  only:
    - master
    - /^[0-9]+\.[0-9]+$/
    - /^[0-9]+\.[0-9]+\.[0-9]+$/

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.5
  - 5.6
  - 7

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env: TYPO3_VERSION="^7.6"
    - php: 5.5
      env: TYPO3_VERSION="^8.7"
    - php: 5.6
      env: TYPO3_VERSION="^7.6"
    - php: 5.6
      env: TYPO3_VERSION="^8.7"
    - php: 7.0
      env: TYPO3_VERSION="^7.6"
    - php: 7.0
      env: TYPO3_VERSION="^8.7"

before_install:
  - |
      # Disable Xdebug extension ...
      sed -i'' -e 's/^/;/g' ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini || true
      php -v | grep -i xdebug || true
  - |
      composer self-update
      composer validate
  - |
      # Preparing Guzzle dependency ...
      if [[ ! $deps && $guzzle ]]; then
        composer require typo3/cms "$TYPO3_VERSION" --no-update
      fi

install:
  - composer install

script:
  - vendor/bin/phpunit